@{
    ViewBag.Title = "Home";
}

<div class="parallax-container">
    <div class="parallax">
        @Html.Action("BackgroundVideo")
    </div>

    <div class="container-home parallax">
        <div class="col-md-8 index-inner-text">
            <h1>@GlobalResources.HomeMadeFoodTitle</h1>
            <p>
                @GlobalResources.IndexWeAreHereToMakeYourDay
            </p>
            <p>
                @GlobalResources.IndexMakeYourEmployeesHappy
            </p>
            <p>
                @GlobalResources.IndexTryIt
            </p>
            <p>
                <a href="/account/register" class="btn btn-warning">@GlobalResources.RegisterLink</a>
                <a href="/" class="btn btn-warning">@GlobalResources.OrderYourLunchLink</a>
            </p>
        </div>
    </div>
</div>
<div class="parallax-container carousel">
    <div class="parallax">
        @Html.Action("WeeklyMenu")
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Custom/carousel-parallax-materialize.js"></script>
}